@charset "UTF-8";

html,
body,
.wrapper {
    height: 100% !important;
}

a {
    font-weight: 400;
    color: var(--text-color);
}

a:hover,
a:active,
a:focus {
    color: var(--active-color);
}

.theme-bg {
    background-color: var(--background-color);
}

.navcontentfixed {
    width: 1380px;
    margin: 0 auto;
}

.pt50.tc {
    font-weight: 400;
    color: var(--text-color);
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtitle {
    color:var(--text-color);
    margin-top: 32px;
    font-size: 24px;
}

.screen {
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    z-index: 10;
    margin-top: 72px;
}

.header-home {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--background-color);
    background-image: url('../img/light-banner-1920.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 72px;
}

.dark .header-home {
    background-image: url('../img/dark-banner-1920.png');
}

.bgc-image {
    margin-top: 72px;
    width: 100%;
    height: 552px;
}

.banner-box-img {
    backdrop-filter: blur(10px);
}

.phonestyle {
    display: none;
}

#header2-text {
    padding: 137px 0px 107px 0px;
    width: 100%;
    text-align: left;
}

#header2-text h3{
    font-size: 48px;
    font-family: SourceHanSansCN-Medium, SourceHanSansCN;
    font-weight: 500;
    color: var(--text-color);
    line-height: 50px;
}
.fadeInUpBig{
    overflow: hidden;
}

.leadtitle {
    color: var(--text-color);
    width: 75%;
    margin: 80px auto 56px auto;
    text-align: center;
    font-size: 32px;
    font-family: MicrosoftYaHeiSemibold;
    line-height: 40px;
}

.leadtitle-box {
    overflow: hidden;
    background-color: var(--banner-nav-bg-color)
}

.contentfixed-box{
    overflow: hidden;
    background-color: var(--example-bg-color);
    padding-bottom: 80px;
}

.lead {
    font-size: 14px;
    text-align: left;
    margin-top: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    font-family: MicrosoftYaHei;
    color: var(--text-color);
    line-height: 22px;
}

/* 重写首页导航部分样式 */

.main-header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
}

.skin-blue .main-header .navbar {
    background-color: var(--header-background-color);
}
.footer-box{
    background-color: var(--footer-bg-color);
}

/* 重写首页导航部分样式 end*/

.row {
    margin: 0;
    padding: 0;
}

.contentfixed {
    width: 1392px;
    margin: 0px auto 80px auto;
}

#PCstyle-pc {
    padding: 0 calc(50% - 686px);
    box-shadow: 0px 2px 4px 0px var(--pc-style-shadow);
    background-color: var(--banner-nav-bg-color);
}

/* 产品技术描述样式 */
#pctab-title {
    display: flex;
    justify-content: space-between;
    border-bottom: none !important;
}

#pctab-title::before{
    display: none;
}

#pctab-title::after{
    display: none;
}

#pctab-title > li {
    padding: 0;
    text-align: center;
}

#pctab-title > li a {
    font-size: 20px;
}

#pctab-title > li > a {
    padding: 10px 0 16px;
    display: inline-block;
    line-height: 1;
    border: none;
    color: var(--text-color);
    background: transparent;
}

#pctab-title > li > a:active,
#pctab-title > li > a:focus {
    border: transparent;
    background: transparent;
}

#pctab-title > li:hover a {
    color: var(--active-color);
}
#pctab-title > li.active a {
    border-bottom: 4px solid var(--active-color);
    font-weight: 600;
}

.productTabContent{
    margin-top: 64px;
}

.product-technology > li {
    margin: 0px 57px;
}

.productTab {
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: start;
    width: 320px;
    min-height: 285px;
    max-height: 285px;
    top: 250px;
    border-bottom: 1px solid transparent;
    position: absolute;
}

.tab-content-item{
    position: relative;
}

.productTab::after {
    content: '';
    visibility: hidden;
    clear: both;
    display: block;
}

.productTab > li {
    text-align: left;
    font-size: 16px;
    padding: 0;
}

.productTab > li > a {
    color: var(--text-color);
    padding-left: 24px;
}

.productTab > li.active > a,
.productTab > li.active > a:focus,
.productTab > li.active > a:hover {
    color:  var(--active-color);
    background-color: transparent;
    border: 0px;
}

.productTab > li:hover a {
    color: var(--active-color);;
    border: 0px;
    background: transparent;
}

.move-tabs {
    justify-content: flex-start;
}

.move-tabs > li {
    float: none;
}

.secondtabs {
    margin: 20px 0 32px 0;
    display: flex;
    justify-content: space-between;
}

.secondTabsContent {
    width: 88%;
    overflow: hidden;
    margin: 0;
    float: left;
}

.PCTab > li > a {
    cursor: pointer;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 32px;
    border-radius: 50%;
}

.PCTab > li.active > a,
.PCTab > li.active > a:focus,
.PCTab > li.active > a:hover {
    background-color: var(--active-color);;
    border: transparent;
}

.PCTab {
    width: 120px;
    margin: 0 auto;
    border: transparent;
}

.PCTab li {
    margin: 0 8px;
}

.PCTab > li > a {
    width: 8px;
    height: 8px;
    padding: 0;
    margin: 0;
}

.openSC {
    margin: 20px 0 32px 0;
    display: flex;
    justify-content: center;
}

.phonefontsize {
    font-size: 14px;
    font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
    font-weight: bold;
    color: var(--text-color);
    line-height: 22px;
}

.product-pic {
    width: calc(100% - 320px);
    height: 558px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.dark .product-pic {
    border: 1px var(--example-pic-boder) solid;
}

.product-image {
    width: 100%; 
}

.product-introduction,
.product-pic {
    padding: 0;
    float: left;
}

.product-pic-div {
    width: 100%;
    height: 218px;
    background-color: var(--whats-new-background-color);
}

.product-heading {
    padding-top: 14px;
    font-size: 20px;
    font-family: MicrosoftYaHeiSemibold;
    color: var(--text-color);
    line-height: 35px;
    margin-bottom: 0px;
}

.feature-heading {
    color: var(--text-color);
}

.feature-text {
    color: var(--text-color);
}

.product-introduction {
    width: 320px;
    height: 558px;
    padding-top: 18px;
    overflow: auto;
    overflow-x: hidden;
    background: url('../img/side-bgc.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.introduction-box{
    height: 204px;
    background: linear-gradient(90deg, var(--background-color) 0%, rgba(255,255,255,0) 100%);
    opacity: 0.85;
}

.product-span {
    display: block;
    width: 100%;
    height: 1px;
    background: var(--active-color);
    margin-top: 23px;
}

.product-text {
    font-size: 20px;
    font-size: 14px;
    width: 194px;
    font-family: MicrosoftYaHei;
    color: var(--alpha65);
    line-height: 24px;
}

#span-svg {
    display: inline-block;
    width: 18px;
    height: 24px;
    background: url('../img/svg/APIFile.svg') repeat;
}

.intro-href {
    margin-bottom: 20px;
    margin-right: 0px;
    margin-top: 8px;
    width: 205px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

}
.intro-href > li:nth-child(2n + 1) {
    border-right: 1px solid var(--alpha15);
    margin-right: 24px;
}

.intro-href > li {
    margin-top: 8px;
    list-style: none;
    display: inline-block;
    width: 88px;
    text-align: left;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: var(--text-color);
}

.intro-href > li:only-child{
    border: 0px;
}


.intro-href > li > a {
    color: var(--text-color);
}

.intro-href > li:hover a{
    color: var(--active-color);;
}



.intro-href > li > a img {
    margin-bottom: 5px;
    display: none;
}

.product-hreftext {
    margin-top: 16px;
    text-align: left;
}

.product-hreftext b {
    padding: 0;
    height: 24px;
    line-height: 24px;
    text-align: left;
    font-size: 16px;
    display: inline-block;
    font-weight: normal;
    color: var(--text-color);
    margin-bottom: 8px;
}
.product-hreftext b:hover {
    color:var(--active-color);;
}

.product-hreftext p {
    color: var(--text-color);
    margin-top: 8px;
    font-size: 14px;
}

.product-hreftext a>img{
    margin-top: 5px;
    vertical-align: top;
    opacity: 0.65;
}

.product-hreftext a>img:hover{
    margin-top: 5px;
    vertical-align: top;
    opacity: 0.85;
}

.feature {
    margin-top: 50px;
}

.feature .pic1 {
    padding: 13.5px;
}

.feature-text {
    font-size: 17px;
}

/* 产品技术描述样式结束 */

.iclient-copyright {
    font-size: 13px !important;
    text-align: center;
    height: 54px;
    line-height: 54px;
}

.html .attr,
.css .attr,
.javascript .class,
.javascript .special {
    color: var(--active-color);
}

.banner-img-contaienr {
    width: 438px;
    height: 357px;
    display: inline-block;
}

.radiusBtn {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.radiusBtn path {
    fill: var(--text-color);
}

.radiusBtn.download {
  padding-left: 0;
}

.radiusBtn.code {
  cursor: pointer;
  padding-bottom: 12px;
}
.radiusBtn > div{
    margin-top: 5px;
}
.radiusBtn.code .dropdown-menu {
    position: absolute;
    left: -9px;
    background-color: var(--source-pop-bg-color);
    box-shadow: 0px 6px 18px 0px var(--drop-shadow);
    min-width: auto;
    width: 124px;
    height: 70px;
    border: none;
    margin-top: 10px;
}

.sm-button-item{
    cursor: pointer;
}

.sm-button-item:hover{
    border: 1px solid var(--active-color) !important;
}

.sm-button-item:hover .dropdown-menu{
    display: block;
}

.sm-button-item:hover path{
    fill: var(--active-color);
}
.sm-button-item:hover .dropdown-toggle{
    fill: var(--active-color);
    color: var(--active-color);
}
.sm-button-item:hover a{
    color: var(--active-color);
}
.button-sourceCode {
    margin-left: 16px;
}
.button-examples{
     margin-left: 16px;
}

.radiusBtn.code .dropdown-menu:hover {
  display: block;
}

.radiusBtn.code .dropdown-menu>li>a {
    color: var(--alpha65);
    padding: 0;
    height: 31px;
    line-height: 31px;
    padding-left: 12px;
    font-size: 14px;
    background-color: transparent;
}

.radiusBtn.code .dropdown-menu>li>a:hover {
  color: var(--alpha85);
  font-weight: 600;
  background: var(--drop-shadow-bgc-color);
}

.radiusBtn.download, .radiusBtn.code {
  position: relative;
}

.radiusBtn.download:after, .radiusBtn.code:after  {
  content: '';
  position: absolute;
  top: 3px;
  right: 0;
  width: 1px;
  height: 19px;
}

.radiusBtn > div {
    display: inline-block;
    text-align: center;
}

.radiusBtn > div > * {
  display: inline-block;
  vertical-align: middle;
}

.radiusBtnimg {
    margin-right: 8px;
    color: var(--icon-color);
}

.header-home .buttons .button-zip,
.header-home .buttons .button-sourceCode,
.header-home .buttons .button-examples {
    display: inline-flex;
    justify-content: center;
    align-self: center;
    width: 96px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--text-color);
}
.buttons{
    margin: 0px auto;
}

.javascript {
    border: 1px solid var(--border-color);
}

#button_examples {
    text-align: center;
}

.new-attributes {
    width: 1392px;
    margin: 0 auto 0;
    text-align: left;
}

.new-attributes .box {
    margin-bottom: 0;
}

.new-attributes .box .box-title {
    font-size: 16px;
}

.header-description {
    padding: 0;
    width: 1392px;
    margin: 0px auto;
}
.banner-description {
    padding: 0;
    overflow: hidden;
    width: 1392px;
    margin: 0px auto;
}

/* 产品，技术描述手机端内容滚动 */
.swiper-container {
    --swiper-pagination-color: var(--active-color);;
}

.swiper-pagination-bullet {
    background-color: var(--background-color);
}

.swiper-pagination-bullet-active {
    background-color: var(--active-color);;
}

.swiper-wrapper {
    height: auto;
}

.swiper-pagination {
    position: static !important;
    margin-bottom: 26px;
}

.image-class {
    text-align: center;
}

/*what's new里用到的样式*/

.new-attributes-start {
    width: 100%;
    padding-bottom: 16px;
    background-color: var(--whats-new-background-color);
    position: relative;
}

.first_title {
    color: var(--text-color);
    margin: 0;
    padding: 64px 0 40px;
}

.first_title > b {
    font-size: 28px;
    font-weight: 400;
}

.new-attributes .attributes-button {
    width: 38px;
    height: 34px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
    float: right;
    margin-left: 6px;
}

.attributes-button > span {
    display: inline-block;
    width: 32px;
    height: 30px;
}

.btn {
    position: relative;
    width: 22px;
    height: 22px;
    float: right;
    border: 0px;
    margin-left: 8px;
}

.btn:focus{
    background: transparent !important;
}

.btn-left{
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.45;
    background: url('../img/svg/left.svg') no-repeat;
}
.btn-right{
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.45;
    background: url('../img/svg/right.svg') no-repeat;
}

.btn:focus,
.btn:active {
    outline: none !important;
}

.btn:active {
    box-shadow: none;
}

.btn:not(.swiper-button-disabled):hover {
    background: transparent !important;
}


.btn:not(.swiper-button-disabled):hover > span {
    opacity: 0.85;
}

.swiper-button-disabled:hover {
    cursor: not-allowed;
}

.swiper-button-disabled > span {
    color: var(--alpha15);
}

.btn-tabs {
    width: 44px;
    height: 44px;
    background-color: #383030 !important;
    color: var(--text-color);
    float: none;
    margin: 13px 0px;
}

.btn1000 {
    display: none;
}

.right {
    color: var(--active-color);;
}

.new-attributes .panel-body {
    border: 0;
    padding: 0;
    margin-bottom: 40px;
}

.new-attributes .new-attributes_content {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    padding: 24px 0 22px 0 !important;
    margin: 0;
}
.new-attributes_content>a {
    color: var(--text-color) !important;
    line-height: 22px;
    border-bottom: 1px solid var(--text-color);
}
.new-attributes_content>a:hover {
    color: var(--active-color) !important;
    border-bottom: 1px solid var(--active-color);
}

.new-attributes_content {
    border-bottom: 1px solid var(--alpha15);
    font-family: MicrosoftYaHei;
    line-height: 22px;
}

.news-list .news-item:last-child .new-attributes_content {
    border-bottom: 0px;
}

.new-attributes .news-list {
    display: table;
    table-layout: fixed;
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 0 15px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.new-attributes .news-list::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}

.new-attributes .news-item {
    display: table-row;
    width: 100%;
}

.new-attributes .news-item:first-child .new-attributes_content {
    padding-top: 0;
}

.new-attributes .news-item-img {
    width: 100%;
    padding: 0;
    margin: 24px 0 24px 0;
}
.vertical-divide{
    height: 1px;
    border-bottom: 1px solid var(--alpha15);
    width: 100%;
}

.news-item-img::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}

.new-attributes .decoration:before,
.new-attributes .decoration:after {
    content: '';
    display: block;
    width: 1px;
    height: 41%;
    background: #979797;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.new-attributes .news-item:nth-child(1) .decoration:before {
    display: none;
}

.new-attributes .news-item:nth-last-child(1) .decoration:after {
    display: none;
}

.new-attributes .decoration:before {
    top: 2px;
}

.new-attributes .decoration:after {
    bottom: -2px;
}

.new-attributes .decoration {
    display: table-cell;
    width: 1%;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.new-attributes .news-item:hover .solid-circle {
    background: var(--active-color);;
} */

.new-attributes .news-item .news-title,
.new-attributes .news-item-img .news-title {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* what new 含图片 start */
.new-attributes .news-box-img {
    width: 330px;
    height: 314px;
    box-sizing: border-box;
    color: var(--text-color);
    border-radius: 4px;
    list-style: none;
    overflow: hidden;
    box-shadow: 0px 2px 4px 0px var(--card-shadow);
}

.dark .new-attributes .news-box-img {
    border: 2px solid var(--card-border);
}

.news-box-img:hover {
    box-shadow: 0px 6px 12px 0px var(--card-shadow-hover);
}

.new-attributes .news-box-img:not(.swiper-slide) {
    float: left;
    margin-right: 38px;
    line-height: 3rem;
    position: relative;
}

.news-img {
    width: 100%;
    height: 186px;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-color: var(--card-bg-color) !important;
}

.news-img > a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.news-title-href,
.news-title-forbidden {
    font-size: 16px;
    color: var(--text-color);
    font-weight: 400;
    text-align: justify;
}
.news-title-href{
    height: 100%;
    position: relative;
    text-align: left;
}
.news-title-href > span{
    display: block;
    font-size: 14px;
    font-family: MicrosoftYaHeiSemibold;
    color: var(--text-color);
    line-height: 22px;
    text-shadow: 0px 6px 12px var(--alpha10);
}

.news-title-href > a{
    position: absolute;
    bottom: 0px;
    display: inline-block;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--text-color-secondary);
}

.news-title-href > div > a > .card-divider {
    display: inline-block;
    height: 14px;
    margin: 0 8px;
    border-right: 1px solid var(--text-color);
}

.news-title-href > div > a{
    font-size: 14px;
    font-family: MicrosoftYaHei;
    line-height: 16px;
    color: var(--text-color-secondary);
}
.news-title-href > div > a > span{
    vertical-align: middle;
}

.news-title-href > div{
    position: absolute;
    bottom: 0px;
    display: inline-block;
}


.news-info-title {
    width: 100%;
    height: calc(100% - 186px);
    padding: 16px 24px 24px 24px;
    overflow: hidden;
    background-color: var(--card-bg-color);
}



.detail-introduce {
    width: 100%;
    height: 186px;
    display: none;
    background-color: var(--mask-bgc-color);
    position: absolute;
    left: 0px;
    overflow: auto;
    top: 0px;
    border-bottom: transparent;
    padding: 18px 23px 0px 24px;
}

.detail-introduce > span,
.detail-introduce > a {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    color: var(--mask-text-color);
    line-height: 20px;
}

.more-detail-introduce > span {
  margin-bottom: 8px;
}

.more-detail-introduce > a {
  display: block;
}

.detail-introduce a {
    color: var(--active-color);;
}
.detail-introduce a:hover {
    color: var(--active-color);
}

.detail-introduce::-webkit-scrollbar {
    width: 5px;
    height: 16px;
    background-color: transparent;
}

.detail-introduce::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

.detail-introduce::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:var(--scrollbar-thumb-color);
}

.i-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 4px;
    vertical-align: top;
    background: url('../img/svg/circle-information.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

.dark .i-icon {
    background: url('../img/svg/dark-circle-information.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

.news-box-img:hover .detail-introduce {
    display: block;
}
.news-box-img a:hover {
    color: var(--active-color);
}

.news-box-img a:hover .to-details{
    background-image: url('../img/arrow-right-hover.png');
}

.news-info-title:hover .de .news-info-container {
    width: 100%;
}

/* what new 含图片 end */

.to-details {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    background-image: url('../img/arrow-right.png');
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover;
}

.dark .to-details {
    background-image: url('../img/dark-arrow-right.png');
}

.new-attributes .news-box {
    display: table-cell;
    line-height: 3rem;
    width: 80%;
    vertical-align: middle;
    color: var(--text-color);
    padding-left: 15px;
    position: relative;
    border-radius: 2px;
}

.new-attributes .news-box a {
    color: var(--whats-new-text-color);
}

.new-attributes .panel-body:last-child .news-item:last-child .news-box {
    border-bottom: none;
}

.new-attributes .news-circle {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--alpha08);
    vertical-align: middle;
    margin-top: -3px;
}

.new-attributes .solid-circle {
    background: var(--active-color);
    border-radius: 50%;
    width: 0.7rem;
    height: 0.7rem;
    overflow: hidden;
    margin: 0.3rem;
}

.new-attributes .news-time {
    color: #999999;
    font-size: 1rem;
    line-height: 2rem;
    position: absolute;
}

.tab-content-box .introduction-box{
    background: transparent;
    padding: 0px 24px;

}

.tab-content-box .product-text {
    white-space: normal;
    word-break: break-all;
    width: 100%;
}
.tab-content-box .product-hreftext a ::after{
    content: '';
    height: 16px;
    width: 16px;
    position: relative;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: url(../img/svg/goto.svg) no-repeat;
}
 .dark #ModernWebGIS .product-hreftext a ::after{
    background: url(../img/svg/dark-goto.svg) no-repeat;
}

#tosimplephone .image-class>img{
    width: 100%;
}
#ModernWebGISphone .image-class>img{
    width: 100%;
}

#tosimple .introduction-box{
    background: transparent;
    padding: 0px 24px;
}

#tosimple .product-text {
    white-space: normal;
    word-break: break-all;
    width: 100%;
    padding-right: 24px;
}
.title-768 {
    display: none;
}

#pctab-title-768 {
    display: none;
}

.example-collapse .panel{
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}

.example-collapse .panel-default>.panel-heading {
    background: transparent;
    padding: 20px 24px 0px 24px;
    border: 0px;
    z-index: 1;
}

.example-collapse .panel .panel-heading .panel-title {
    font-size: 20px;
    font-family: MicrosoftYaHei;
    color: var(--text-color);
    line-height: 35px;
    min-width: 152px;
}

.example-collapse .panel .panel-heading .panel-title a[aria-expanded="true"] {
    font-weight: 600;
}
.example-collapse .panel .panel-heading .panel-title a:focus {
    color: var(--text-color) !important;
}

.example-collapse .panel-body {
    border-top: 0px !important;
    position: relative;
    padding: 16px 24px 0px 24px;
    background: linear-gradient(90deg, var(--background-color) 0%, rgba(255,255,255,0) 100%);
    opacity: 0.85;
}

.gradient {
    background: linear-gradient(90deg, var(--background-color) 0%, rgba(255,255,255,0) 100%) !important;
}

.more-downward{
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    background: url('../img/svg/downward.svg') no-repeat;
    background-position: center;
}

.more-upward{
    display: inline-block;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    background: url('../img/svg/upward.svg') no-repeat;
    background-position: center;
}

.dark .more-downward {
    background: url('../img/svg/dark-downward.svg') no-repeat;
    background-position: center;
}

.dark .more-upward {
    background: url('../img/svg/dark-upward.svg') no-repeat;
    background-position: center;
}

.tooltip-inner {
    padding: 8px !important;
}

.show-less-1600 {
    display: none !important;
}

.show-less-992 {
    display: none !important;
}

.show-less-768 {
    display: none !important;
}

.dark .btn-left{
    background: url('../img/svg/dark-left.svg') no-repeat;
}
.dark .btn-right{
    background: url('../img/svg/dark-right.svg') no-repeat;
}

.dark .btn {
    background-color: transparent;
}

.dark .product-introduction {
    background: url('../img/dark-side-bgc.png') no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 1919px) {
    /* .header-home {
        background-image: url('../img/light-banner-1600.png');
    } 
    .dark .header-home {
        background-image: url('../img/dark-banner-1600.png');
    } */
    .header-home {
        background-image: url('../img/light-banner-1920.png');
    } 
    .dark .header-home {
        background-image: url('../img/dark-banner-1920.png');
    }
}

@media screen and (max-width: 1599px) {
    /* .header-home {
        background-image: url('../img/light-banner-1200.png')
    }
    .dark .header-home {
        background-image: url('../img/dark-banner-1200.png');
    } */
    .show-less-1600 {
        display: inline-block !important;
    }
    .header-description,
    .banner-description,
    .new-attributes,
    .contentfixed {
        width: 92%;
    }
    #PCstyle-pc {
        padding: 0 4%;
    }
    .news-box-img{
        width: calc(33.33% - 16px) !important;
    }
    .leadtitle{
        margin: 39px auto 41px auto;
    }
    #header2-text h3{
        width: 520px;
    }
}

@media screen and (max-width: 1199px) {
    /* .header-home {
        background-image: url('../img/light-banner-992.png')
    }
    .dark .header-home {
        background-image: url('../img/dark-banner-992.png');
    } */
    .leadtitle{
        margin: 40px auto 41px auto;
    }
    .btn1000 {
        display: block;
    }
    .product-introduction{
        width: 248px;
    }
    .product-pic{
        width: calc(100% - 248px);
    }
    #header2-text h3{
        width: 520px;
    }
    .productTabContent{
        margin-top: 40px;
    }
}

@media screen and (max-width: 991px) {
    /* .header-home {
        background-image: url('../img/light-banner-768.png')
    } 
    .dark .header-home {
        background-image: url('../img/dark-banner-768.png');
    } */
    .contentfixed-box{
        padding-bottom: 40px;
    }
    .show-less-992 {
        display: inline-block !important;
    }
    .leadtitle{
        margin: 35px auto 57px auto;
    }
    #pctab-title {
        padding: 0;
    }
    #header2-text {
        width: 100%;
        margin: 0 auto;
        padding-top: 350px;
        padding-bottom: 20px;
    }
    #header2-text h3{
        font-size: 32px;
        width: 100%;
        font-family: SourceHanSansCN-Medium, SourceHanSansCN;
        font-weight: 500;
    }
    #header2-text p {
        text-align: center;
    }

    .pt50.tc {
        font-size: 35px;
        line-height: 50px;
        text-align: center;
    }

    .banner-img-contaienr {
        width: 100%;
        margin-top: 30px;
    }
    .product-introduction{
        width: 240px;
    }
    .product-pic{
        width: calc(100% - 240px);
    }
    .buttons {
        width: 100%;
    }

    .buttons::after {
        content: '';
        display: block;
        clear: both;
        visibility: hidden;
    }
    .buttonsdiv {
        margin: 0 auto;
        text-align: center;
    }
    .subtitle {
        margin-top: 8px;
    }
    .news-box-img{
        width: calc(50% - 12px) !important;
    }
    .icl-contact {
        padding-bottom: 16px;
    }
    .intro-href{
        width: 201px;
    }
    .news-list{
        padding-bottom: 10px !important;
    }
    .tooltip {
        width: 80px;
    }
    .product-text{
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    /* .header-home {
        background-image: url('../img/light-banner-576.png')
    }
    .dark .header-home {
        background-image: url('../img/dark-banner-576.png');
    } */
    .show-less-768 {
        display: inline-block !important;
    }
    .intro-href > li:nth-child(2n + 1) {
        margin-right: 0px !important;
    }
    #header2-text h3{
        font-size: 32px;
        font-family: SourceHanSansCN-Medium, SourceHanSansCN;
        font-weight: 500;
    }
    .leadtitle {
        font-size: 28px;
        margin: 24px auto 64px auto;
    }
    .introduction-box {
        height: 250px;
    }

    .intro-href {
        flex-direction: column;
        width: 100%;
    }

    .intro-href > li {
        border-right: 0px !important;
    }
    .intro-href > li > a::after {
        content: '';
        height: 16px;
        width: 16px;
        position: relative;
        top: 5px;
        left: 2px;
        display: inline-block;
        background: url('../img/svg/goto.svg') no-repeat;
    }

    .dark .intro-href > li > a::after {
        background: url('../img/svg/dark-goto.svg') no-repeat;
    }

    .product-pic {
        width: calc(100% - 200px);
    }

    .productTab {
        top: 288px;
        min-height: 270px;
        max-height: 270px;
        width: 239px;
    }
    .news-box-img{
        width: calc(75% - 12px) !important;
    }

    .product-introduction {
        width: 200px;
    }
    .product-text{
        width: 100%;
    }

    .productTab {
        width: 204px;
    }
    .decoration{
        width: 2% !important;
    }
    #pctab-title{
        display: none;
    }

    #pctab-title-768 {
        position: absolute;
        width: 128px;
        height: 168px;
        z-index: 1;
        display: none;
        /* top: 213px; */
        right: 16px;
        flex-direction: column;
        background: var(--background-color);
        box-shadow: 0px 6px 18px 0px var(--alpha14);
        border-radius: 4px;
        justify-content: space-around;
        font-size: 14px;
        font-family: MicrosoftYaHei;
        color: var(--alpha65);
        line-height: 22px;
        border-bottom: none;
    }

    #pctab-title-768 > li {
        text-align: left;
        padding: 0 8px;
    }

    #pctab-title-768 > li > a {
        padding: 10px 0 16px;
        display: inline-block;
        border: none;
        padding: 0px;
        font-size: 14px;
        line-height: 22px;
        font-family: MicrosoftYaHei;
        color: var(--text-color);
        background: transparent;
    }
    
    #pctab-title-768 > li:hover a {
        color: var(--active-color);
    }

    #pctab-title-768 > li.active a {
        font-weight: 600;
        color: var(--text-color);
    }

    #show-pctab-768 {
        font-size: 20px;
        font-family: MicrosoftYaHei;
        color: var(--alpha65);
        line-height: 26px;
    }

    #pctab-title-576 {
        position: absolute;
        width: 128px;
        height: 168px;
        z-index: 1;
        display: none;
        /* top: 213px; */
        right: 16px;
        flex-direction: column;
        background: var(--background-color);
        box-shadow: 0px 6px 18px 0px var(--alpha14);
        border-radius: 4px;
        justify-content: space-around;
        font-size: 14px;
        font-family: MicrosoftYaHei;
        color: var(--alpha65);
        line-height: 22px;
    }

    #pctab-title-576 > li {
        text-align: center;
    }

    #pctab-title-576 > li > a {
        padding: 10px 0 16px;
        display: inline-block;
        border: none;
        padding: 0px;
        font-size: 14px;
        line-height: 22px;
        font-family: MicrosoftYaHei;
        color: var(--text-color);
        background: transparent;
    }
    
    #pctab-title-576 > li:hover a {
        color: var(--active-color);
    }

    #pctab-title-576 > li.active a {
        font-weight: 600;
        color: var(--text-color);
    }

    #show-pctab-576 {
        font-size: 20px;
        font-family: MicrosoftYaHei;
        color: var(--alpha65);
        line-height: 26px;
    }

    .title-768 {
        cursor: pointer;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        font-size: 20px;
        font-family: MicrosoftYaHeiSemibold;
        color: var(--text-color);
        line-height: 26px;
        padding-bottom: 8px;
    }

    .title-768>span:last-child:hover {
        color: var(--active-color);
    }

    .title-768:last-child {
        margin-right: 8px;
    }
}
/*what's new 适应手机端*/
@media screen and (max-width: 576px) {
    .leadtitle-box{
        background-color: var(--example-bg-color);
    }
    .main-header {
        position: absolute;
    }

    .swiper-pagination-bullet-active {
        outline: none;
    }

    .icl-nav-menu-box > li {
        width: 110px !important;
    }

    /* 手机端巨幕布局 */

    .button-sourceCode,
    .button-examples,
    .button-zip {
        width: 134px;
    }

    .radiusBtn {
        width: 100%;
    }

    .contentfixed {
        margin: 15px auto;
    }

    .phonestyle {
        display: block !important;
        padding-top: 4px;
    }

    .PCstyle {
        display: none !important;
        position: relative;
    }

    .contentfixed {
        width: 93.33%;
        margin: 0 auto;
    }
    #PCstyle-pc {
        padding: 0 3.33%;
        
    }
    #MBstyle-MB{
        padding: 0 3.33%;
    }
    .phonestyle > p {
        font-size: 26px;
        margin-top: 5px;
        margin-bottom: 0;
        line-height: 36px;
        text-align: justify;
        padding: 0;
    }

    /* 产品内容tab标签布局 */
    .productTab {
        display: none;
    }

    .product-technology {
        margin-top: 32px;
        position: relative;
    }

    .phone-nav-tabs {
        width: 100%;
        overflow: visible;
        z-index: 2;
        margin: 0;
        /* border-bottom: 2px solid var(--border-color); */
    }

    .nav-btn-tabs {
        width: 24px;
        height: 34px;
        margin: 0;
        position: absolute;
        top: 0;
        right: -20px;
    }

    .glyphicon {
        right: 8px;
    }

    .leadtitle {
        text-align: center;
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 50px;
        padding: 0px 10px;
    }

    ul::-webkit-scrollbar {
        display: none;
    }

    #pctab-title {
        border: transparent;
    }

    #pctab-title > li {
        width: auto;
        height: auto;
        float: none;
    }

    .feature-heading,
    .product-heading,
    #pctab-title > li a {
        font-size: 24px;
    }

    #pctab-title > li a {
        margin: 0;
        padding: 0;
        padding-bottom: 11px;
    }

    /* 中间大图样式 */
    .product-image {
        height: 427px;
    }

    .product-introduction,
    .product-pic {
        width: 100%;
    }

    .product-pic {
        height: 218px;
    }

    .product {
        padding-top: 24px;
        margin-top: 0;
        margin-bottom: 0;
        /* background: var(--background-color); */
    }

    .product .product-pic-div .product-pic {
        background-size: 100% 100% !important;
    }

    .product-introduction {
        height: auto;
        padding: 0 0px;
        background: none;
        overflow: hidden;
    }

    .intro-href {
        flex-direction: row;
        width: 250px;
    }

    .intro-href > li > a,
    .product-hreftext {
        color: var(--text-color);
        padding: 0;
        height: 39px;
        line-height: 39px;
        text-align: center;
    }

    .product-hreftext b {
        width: 100%;
    }

    .intro-href li {
        list-style: none;
        margin-right: 0;
        width: 100px;
        height: auto;
    }

    .intro-href {
        margin-top: 30px;
        margin-bottom: 15px;
        /* justify-content: space-between; */
    }
    .intro-href > li:nth-child(2n + 1){
        margin-right: 0px;
    }

    .product-hreftext {
        width: calc(50% - 8px);
        /* margin: 30px auto 0; */
    }

    .product-hreftext:active,
    .intro-href > li > a:active {
        background-color: var(--background-color);
    }

    .banner-img-contaienr {
        width: 100%;
        margin-top: 39px;
    }

    .product-heading {
        margin-bottom: 0;
        margin-top: 16px;
        padding: 0px 8px;
        overflow: hidden;
    }
    .product-text {
        padding-left: 8px;
        margin-top: 8px;
    }

    .intro-href {
        padding-left: 8px;
    }

    .product-span {
        height: 2px;
    }

    #edgeP {
        text-align: left;
        margin-bottom: 20px;
    }

    .quick-service .second_title .navbar-nav li {
        padding-left: 15px;
    }

    .productsLink .productsBox .productsTitleBox {
        font-size: 14px;
    }

    /* .news-info-container,
    .news-img {
        display: table-row !important;
    } */
    .news-img > a {
        width: 100% !important;
        height: inherit !important;
    }

    .image-class {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .new-attributes {
        width: 93.33%;
        overflow: hidden;
    }

    .first_title {
        padding: 43px 0 20px;
        margin-bottom: 0;
        font-size: 32px;
        font-family: MicrosoftYaHeiSemibold;
        line-height: 32px
    }

    .new-attributes .news-item-img {
        width: 100%;
        height: auto;
        margin-bottom: 36px;
    }

    .new-attributes .news-item-img.swiper-wrapper {
        flex-direction: column;
    }

    .new-attributes .news-box-img {
        width: 100% !important;
        line-height: 24px;
    }

    .new-attributes .news-box-img > div {
        float: left;
    }

    .new-attributes .news-item-img > li {
        height: auto;
        margin-bottom: 16.5px;
        margin-right: 0 !important;
        float: none;
        overflow: auto;
    }

    .new-attributes .panel-body {
        margin: 16px 0 0;
        padding: 0;
    }

    .news-img {
        width: 55%;
    }

    .news-info-title {
        width: 45%;
        height: 190px;
        display: flex;
        align-items: center;
    }

    .news-title-href,
    .news-title-forbidden {
        margin-left: 7px;
    }

    .new-attributes .new-attributes_content {
        font-size: 16px;
    }

    .first_title > b {
        font-size: 24px;
    }

    .news-img {
        height: 190px;
        background-size: contain !important;
    }

    .new-attributes .news-item-img > li {
        background-color: var(--background-color) !important;
    }

    .detail-introduce {
        position: static;
        width: 100%;
        height: auto;
        font-size: 12px;
        display: block;
        border-top: 1px solid var(--border-color);
        background: var(--alpha08);
        border: transparent;
        padding: 16px;
    }

    .detail-introduce > span,
    .detail-introduce > a {
        font-weight: 400;
        color: var(--text-color);
    }

    .detail-introduce > a {
        margin: 0px 0 8px 13px;
    }
    .detail-introduce > span{
        margin: 0;
    }

    .productTab > li.active > a,
    .productTab > li.active > a:focus,
    .productTab > li.active > a:hover {
        color: var(--text-color);
    }
    .news-title-href > span {
        font-size: 12px;
        text-overflow: ellipsis;
        max-height: calc(100% - 32px);
        overflow: hidden;
        display: -webkit-box;
        box-orient: vertical;
        line-clamp: 5;
    }

    .home-link a {
        padding: 0 5px;
    }

    /* 清楚背景图片 */
    .new-attributes-start:before {
        display: none;
    }

    .new-attributes-start::after {
        display: none;
    }
}
/*what's new 适应手机端end*/
@media screen and (max-width: 576px) {
    .news-title-href{
        min-width: 96px;
    }
    ul.icl-nav-menu-box {
        overflow: hidden;
    }

    .menu-box .icl-nav-menu-box > li {
        margin: 0 !important;
        width: 48% !important;
        float: left;
    }

    .menu-box .icl-nav-menu-item:not(.icl-nav-menu-overivew) > li:last-child {
        width: 48% !important;
    }

    .leadtitle {
        font-size: 24px;
        line-height: 30px;
    }

    .phonestyle > p {
        font-size: 14px;
        line-height: 22px;
    }

    #pctab-title > li a {
        font-size: 20px;
    }

    .detail-introduce > span,
    .detail-introduce > a {
        font-size: 12px;
    }

    .feature-text,
    .product-hreftext > b,
    .product-text,
    .intro-href > li > a {
        font-size: 14px;
    }
    .intro-href > li > a > div {
        display: inline-block;
        width: 58px;
    }

    .phonefontsize {
        font-size: 14px;
        font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;
        font-weight: bold;
        line-height: 22px;
    }

    .new-attributes .new-attributes_content {
        font-size: 14px;
    }

    .news-title-href,
    .news-title-forbidden {
        font-size: 14px;
    }

    .radiusBtn {
        margin-right: auto;
        margin-left: auto;
    }
    .product-text{
        width: 200px;
    }
    .btn {
        display: none;
    }
    .news-list{
        padding-bottom: 0px !important;
    }
    .phonefontsize {
        margin-top: 16px;
    }
    #mySwiperContent {
        margin-top: 16px;
        background: url('../img/side-bgc.png') no-repeat;
        background-size: cover;
        background-position: center;
    }
    .dark #mySwiperContent {
        background: url('../img/dark-side-bgc.png') no-repeat;
        background-size: cover;
        background-position: center;
    }
    #mySwiperContent .product-hreftext > b::after {
        content: '';
        height: 16px;
        width: 16px;
        position: relative;
        top: 5px;
        left: 2px;
        display: inline-block;
        margin-left: 5px;
        background: url('../img/svg/goto.svg') no-repeat;
    }

    .dark #mySwiperContent .product-hreftext > b::after {
        background: url('../img/svg/dark-goto.svg') no-repeat;
    }

    .product-hreftext {
        margin-left: 8px;
    }
    .phonefontsize > button {
        display: none !important;
    }
}

@media screen and (max-width: 455px) {
    #header2-text h3 {
        font-size: 31px;
    }
}

@media screen and (max-width: 420px) {
    .bgc-image {
        height: 600px;
    }
    .header-home {
        background-image: url('../img/light-banner-350.png')
    } 
    .dark .header-home {
        background-image: url('../img/dark-banner-350.png');
    }
    #header2-text {
        padding-top: 300px;
    }
    .buttonsdiv {
        width: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-sourceCode {
        margin-top: 5px;
        margin-left: 0px;
    }
    .button-examples {
        margin-top: 5px;
        margin-left: 0px;
    }

    .image-class > img {
        width: 310px;
    }
}

@media screen and (max-width: 350px) {
    .buttonsdiv {
        width: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-sourceCode {
        margin-top: 5px;
        margin-left: 0px;
    }
    .button-examples {
        margin-top: 5px;
        margin-left: 0px;
    }
}
