
<ul class="nav nav-tabs bold-titile">
    <li><a href="#productTab" data-toggle="tab" data-i18n="nav.product._name"></a></li>
    <!-- <li><a href="#technicalTopicsTab" data-toggle="tab" data-i18n="nav.technicalTopics._name"></a></li> -->
    <!-- <li><a href="#vuecompsTab" data-toggle="tab" data-i18n="nav.vuecomps._name"></a></li> -->
    <li><a href="#earthTab" data-toggle="tab" data-i18n="nav.earth._name"></a></li>
    <li><a href="#envreportTab" data-toggle="tab" data-i18n="nav.envreport._name"></a></li>
    <li class="displayInSmallResolution split-line"></li>
    <!-- <li class="displayInSmallResolution"><a href="#languageTab" data-toggle="tab" data-i18n="nav.more.language._name"></a></li> -->
    <li class="displayInSmallResolution"><a href="#themeTab" data-toggle="tab" data-i18n="nav.more.theme._name"></a></li>
    <li class="displayInSmallResolution"><a href="{{nav.path}}./faq/faq.html" data-i18n="nav.more.faq._name"></a></li>
</ul>
<div class="tab-content">
    <!-- 产品 -->
    <ul class="tab-pane active" id="productTab">
        <!-- 产品 -->
        <li>
            <a class="center" data-toggle="collapse" data-target="#collapseLeaflet" data-i18n="nav.product._name"></a>
            <ul class="collapse" id="collapseLeaflet">
                <li><a target="_self" data-i18n="nav.product.introduce"
                        href="{{nav.path}}./introduction/intro_3DWebgl.html#introduce"></a></li>
                <li><a target="_self" data-i18n="nav.product.download"
                        href="{{nav.path}}./downloads/download1.html"></a></li>
                <li><a target="_self" data-i18n="nav.product.modules"
                        href="{{nav.path}}./introduction/intro_3DWebgl.html#modules"></a></li>
        
                <li><a target="_self" data-i18n="nav.product.license"
                        href="{{nav.path}}./introduction/intro_3DWebgl.html#license"></a></li>
                <li><a target="_self" data-i18n="nav.product.environment"
                        href="{{nav.path}}./introduction/intro_3DWebgl.html#environment"></a></li>
                </ul>
        </li>

        <!-- 开发指南 -->
        <li>
            <a class="center" data-toggle="collapse" data-target="#collapseOpenlayers"  data-i18n="nav.guide._name"></a>
            <ul class="collapse" id="collapseOpenlayers">
                <li><a target="_self" data-i18n="nav.guide.ready"
                    href="{{nav.path}}./introduction/3DforWebGL.html#Ready"></a>
                </li>
                <li><a target="_self" data-i18n="nav.guide.createMap"
                        href="{{nav.path}}./introduction/3DforWebGL.html#createMap"></a>
                </li>
                <li><a target="_self" data-i18n="nav.guide.multiProjection"
                        href="{{nav.path}}./introduction/3DforWebGL.html#multiProjection"></a>
                </li>
                <li><a target="_self" data-i18n="nav.guide.SetScene"
                        href="{{nav.path}}./introduction/3DforWebGL.html#SetScene"></a>
                </li>
                <li><a target="_self" data-i18n="nav.guide.Query"
                        href="{{nav.path}}./introduction/3DforWebGL.html#Query"></a>
                </li>
                <li><a target="_self" data-i18n="nav.guide.Measure"
                        href="{{nav.path}}./introduction/3DforWebGL.html#Measure"></a>
                </li>
                <li><a target="_self" data-i18n="nav.guide.DrawHandler"
                        href="{{nav.path}}./introduction/3DforWebGL.html#DrawHandler"></a>
                </li>
                <li><a target="_self" data-i18n="nav.guide.Analysis"
                        href="{{nav.path}}./introduction/3DforWebGL.html#Analysis"></a>
                </li>
            </ul>
        </li>

        <!-- 示例 -->
        <li>
            <a class="center" data-toggle="collapse" data-target="#collapseMapboxgl" data-i18n="nav.examples._name"></a>
            <ul class="collapse" id="collapseMapboxgl">
                <li><a target="_self" data-i18n="nav.examples.examples"
                    href="{{nav.path}}../examples/webgl/examples.html"></a>
                </li>
            </ul>
        </li>

        <!-- API -->
        <li>
            <a class="center" data-toggle="collapse" data-target="#collapseMaplibregl" data-i18n="nav.api._name"></a>
            <ul class="collapse" id="collapseMaplibregl">
                <li><a target="_self" data-i18n="nav.api.webglDoc"
                    href="{{nav.path}}../docs/Documentation/index.html"></a>
                </li>
            </ul>
        </li>

        <!-- 接口变更 -->
        <li>
            <a class="center" data-toggle="collapse" data-target="#collapseClassic" data-i18n="nav.apichange._name"></a>
            <ul class="collapse" id="collapseClassic">
                <li><a target="_self" data-i18n="nav.apichange._name"
                    href="./APIChange.html#APIChange"></a>
                </li>
                <li><a target="_self" data-i18n="nav.apichange.newAPI"
                    href="./APIChange.html#newAPI"></a>
                </li>
            </ul>
        </li>
    </ul>
    
    <!-- 技术专题 -->
    <ul class="tab-pane icl-nav-menu-technical-topics" id="technicalTopicsTab">
        <li><a data-i18n="nav.topic.WebGPU"
            href="{{nav.path}}../examples/TopicDOC/HowToUseWebGPU.html"></a></li>
        <li><a data-i18n="nav.topic.aqom"
                href="{{nav.path}}../examples/TopicDOC/AttributeQueryofObliqueModel_OperateTopic.html"></a></li>
        <li><a data-i18n="nav.topic.Bofw"
                href="{{nav.path}}../examples/TopicDOC/Beatifucation and optimization common setting for 3D scene in WebGL.html"></a></li>
        <!-- <li><a data-i18n="nav.topic.dpt"
                href="{{nav.path}}../examples/TopicDOC/DynamicPlottingTopic.html"></a></li> -->
        <li><a data-i18n="nav.topic.fmt"
                href="{{nav.path}}../examples/TopicDOC/FlyManagerTopic.html"></a></li>
        <li><a data-i18n="nav.topic.token"
                href="{{nav.path}}../examples/TopicDOC/HowToUseToken.html"></a></li>
        <li><a data-i18n="nav.topic.BIM"
                href="{{nav.path}}../examples/TopicDOC/LoadBIM_OperateTopic.html"></a></li>
        <li><a data-i18n="nav.topic.Gltf"
                href="{{nav.path}}../examples/TopicDOC/LoadGltfModel_OperateTopic.html"></a></li>
        <li><a data-i18n="nav.topic.imagery"
                href="{{nav.path}}../examples/TopicDOC/LoadImagery_OperateTopic.html"></a></li>
        <li><a data-i18n="nav.topic.LOM"
                href="{{nav.path}}../examples/TopicDOC/LoadObliqueModel_OperateTopic.html"></a></li>
        <li><a data-i18n="nav.topic.terrain"
                href="{{nav.path}}../examples/TopicDOC/LoadTerrain_OperateTopic.html"></a></li>
        <li><a data-i18n="nav.topic.webapi"
                href="{{nav.path}}../examples/TopicDOC/Local_release_and_operation_manual _of WebGL_API_package.html"></a></li>
    
        <li><a data-i18n="nav.topic.DWG"
                href="{{nav.path}}../examples/TopicDOC/subObjectsSelectionOfPointHanging.html"></a></li>
        <li><a data-i18n="nav.topic.thematicMap"
                href="{{nav.path}}../examples/TopicDOC/ThematicMap.html"></a></li>
        <li><a data-i18n="nav.topic.UPBR"
                href="{{nav.path}}../examples/TopicDOC/Using Json file to modify PBR displaying effect in WebGL.html"></a></li>
        <li><a data-i18n="nav.topic.topVue"
                href="{{nav.path}}../examples/TopicDOC/Vue&WebGLDevelopment.html"></a></li>
        <li><a data-i18n="nav.topic.subdomains"
                href="{{nav.path}}../examples/TopicDOC/subdomains.html"></a></li>
        <li><a data-i18n="nav.topic.3Ds Max"
                href="{{nav.path}}../examples/TopicDOC/Display Problem of 3Ds Max Model.html"></a></li>
        <li><a data-i18n="nav.topic.Bentley"
                href="{{nav.path}}../examples/TopicDOC/Instruction of Export Coordinate and Model of Plugin for Bentley.html"></a></li>
        <li><a data-i18n="nav.topic.BIM Factory"
                href="{{nav.path}}../examples/TopicDOC/Optimization on Performace and Process Method of BIM Factory.html"></a></li> 
        <li><a data-i18n="nav.topic.Terrain to TIN"
                href="{{nav.path}}../examples/TopicDOC/Process of Large-Scale Terrain to TIN.html"></a></li> 
        <li><a data-i18n="nav.topic.Terrain to Imagery"
                href="{{nav.path}}../examples/TopicDOC/Process of Large-Scale Terrain to Imagery.html"></a></li>  
        <li><a data-i18n="nav.topic.Oblique Photogrammetry"
                href="{{nav.path}}../examples/TopicDOC/Process of Large-Scale Oblique Photogrammetry.html"></a></li>
        <li><a data-i18n="nav.topic.Geological Model"
                href="{{nav.path}}../examples/TopicDOC/Solutions on Geological Model.html"></a></li>
        <li><a data-i18n="nav.topic.Man-made Model"
                href="{{nav.path}}../examples/TopicDOC/Precautions And Process of Man-made Model.html"></a></li>
        <li><a data-i18n="nav.topic.Vector Region Stretching"
                href="{{nav.path}}../examples/TopicDOC/Process and Ideas of Vector Region Stretching.html"></a></li>
        <li><a data-i18n="nav.topic.BPOW"
                href="{{nav.path}}../examples/TopicDOC/Beautification Process of White_Box Model.html"></a></li>
        <li><a data-i18n="nav.topic.PPOCFAE"
                href="{{nav.path}}../examples/TopicDOC/Production Process Of Connectivity Flood Analysis Effect.html"></a></li>
        <li><a data-i18n="nav.topic.CFE"
                href="{{nav.path}}../examples/TopicDOC/Create Flow Effects for Pipes.html"></a></li>
        <li><a data-i18n="nav.topic.GDP"
                href="{{nav.path}}../examples/TopicDOC/Guide to Data Processing and Visualization for Models with a Time Dimension.html"></a></li>
        <li><a data-i18n="nav.topic.HST"
                href="{{nav.path}}../examples/TopicDOC/How to set up an independent graphics card in Chrome browser to enhance front-end loading performance in a dual-graphics card environment on the Win10 system.html"></a></li>
    </ul>

    <!-- vue组件 -->
    <ul class="tab-pane " id="vuecompsTab">
        <li><a href="http://support.supermap.com.cn:8090/webgl/examples/component/dist"
            data-i18n="nav.vuecomps.v2name" target="_self"></a>
        </li>
        <li><a href="http://support.supermap.com.cn:8090/webgl/examples/component/dist"
            data-i18n="nav.vuecomps.v2DevGuide" target="_self"></a>
        </li>
        <li><a href="{{nav.path}}../examples/component/examples.html"
            data-i18n="nav.vuecomps.v2Examples" target="_self"></a>
        </li>

        <li><a href="https://www.supermapol.com/earth/vue-iEarth/examples/docs/dist/index.html"
            data-i18n="nav.vuecomps.v3name" target="_self"></a>
        </li>
        <li><a href="https://www.supermapol.com/earth/vue-iEarth/examples/docs/dist/index.html"
            data-i18n="nav.vuecomps.v3DevGuide" target="_self"></a>
        </li>
        <li><a href="https://www.supermapol.com/earth/vue-iEarth/examples/index.html"
            data-i18n="nav.vuecomps.v3Examples" target="_self"></a>
        </li>
    </ul>

    <!-- iEarth -->
    <ul class="tab-pane" id="earthTab">
        <li><a href="http://www.supermapol.com/earth/"
            data-i18n="nav.earth.iEarth" target="_self"></a>
        </li>
    </ul>

    <!-- 运行环境检测 -->
    <ul class="tab-pane" id="envreportTab">
        <li><a href="../examples/webglreport.html"
            data-i18n="nav.envreport.enviromentReport" target="_self"></a>
        </li>
    </ul>

    <!-- 主题切换 -->
    <ul class="tab-pane skin-box" id="themeTab">
        <li><a target="#" data-type="light" data-i18n="nav.more.theme.light"></a></li>
        <li><a target="#" data-type="dark" data-i18n="nav.more.theme.dark"></a></li>
    </ul>
    <!-- 语言切换 -->
    <ul class="tab-pane" id="languageTab">
      <li><a class="lang-option" data-lang="zh-CN">中文</a></li>
      <li><a class="lang-option" data-lang="en-US">English</a></li>
    </ul>
</div>
<script>
   $(document).ready(function () {
    function loadTechnicalTopicsMenu() {
     var targetDom = document.getElementsByClassName('icl-nav-menu-technical-topics')[1];
     var host = 'https://iclient.supermap.io/web';
      $.get(host + "/technical-topics/" + 'zh' + '/categories.json', {} , function (res) {
        var html = '';
        res.filter(function(item) {
          return !item.version || window.compareVersions.compare(window.version, item.version, '>=');
        }).forEach(function(item) {
          html += '<li>' +
            '<a target="_self" href="' + host + '/technical-topics.html#' + item.path + '">' + item.title + '</a>' +
            '</li>';
        });
        targetDom.innerHTML = html;
      }, "json");
   }
    loadTechnicalTopicsMenu()

    function activeTab() {
        window.location.href.indexOf('overview') > -1 && $("a[href='#overviewTab']").tab('show');
        let productMenuArr = ['leaflet', 'openlayers', 'mapboxgl', 'classic', 'component']
        var isOpenProductMune = productMenuArr.filter(function(product) { return window.location.href.indexOf(product) > -1;})[0]
        isOpenProductMune && $("a[href='#productTab']").tab('show');
        window.location.href.indexOf('technical-topics') > -1 && $("a[href='#technicalTopicsTab']").tab('show');
        window.location.href.indexOf('download') > -1 && $("a[href='#vuecompsTab']").tab('show');
    }
    activeTab();

    $('#overviewTab>li>a, #vuecompsTab>li>a').on("click  touchend", function() {
      $('#navbar-collapse').collapse('hide');
    });

    // 展开某一折叠元素，自动关闭其他展开的折叠元素
    $('#navbar-collapse a[data-toggle="collapse"]').on("click  touchend", function() {
      $('#navbar-collapse .tab-content .collapse.in').collapse('toggle');
    });

    $('.skin-box>li>a').on("click  touchend", function(e) {
      var skin = e.currentTarget.dataset.type;
      utils.setCookie('theme', skin, 7 * 24 * 60 * 60 * 1000);
      $('body').removeClass("light dark").addClass(skin);
      setRootStyle(skin);
    });

   })
</script>