/* <!-- 引擎切换样式 --> */
#containerExpand{
    font-size: 14px;
    color: #FFFFFF;
    font-family: "Microsoft Yahei";
    background-color: #282828;
    height: 40px;
    line-height: 40px;
}

#containerExpand>.lable{
    margin-left: 18px;
}

#contianerFold{
    display: none;
    background-color: #282828;
    height: 40px;
}

/* .engineTypeOption {
    background-color: yellow;
    color: red;
} */

#engineChangeHeaderDOM{
    display: inline;
    /* line-height: 55px; */
}

#engineChangeHeaderDOM>.engineSelect{
    font-size: 14px;
    /* color: #FFFFFF; */
    color: rgba(240, 189, 62, 1);
    font-family: "Microsoft Yahei";
    background-color: #282828;
    border: none;
    outline: none;
    /* margin-bottom: 5px; */
}

#iconDom{
    margin-left: -14px;
    color: rgba(240, 189, 62, 1);
}

#hotPoint{
    position: relative;
    top: -45px;
    left: 39px;
    /* display: inline-block; */
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(225, 77, 87, 1);
    margin-right: 5px;
}