#toggle-mvt{
  width:196px;
  height: 32px;
  border-radius: 4px;
}

.titleBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBox .titl {
  width: 200px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
}

.titleBox .close2 {
  margin-bottom: 10px ;
}

.inputBox {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:40px;
  line-height: 40px;
}

.inputBox input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputBox>.lable {
  width: 90px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 7px;
}

.btn-container{
  margin-left: 100px;
}

.btn_foot {
  flex: 1;
  margin: 0 5px;
  width: auto;
  height: 32px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: rgba(42, 42, 42, 1);
}