input[type=checkbox] {
    margin: 0px 4px 0 0px;
}

label {
    display: inline-block;
}

.param-container {
    border: none;
}

.titleBox {
    margin-bottom: 0px;
}

.sm-div-graphic {
    position: absolute;
    color: #fff;
    font-size: 14px;
}

#test .divpoint {
    background: url(../images/qipao1.png) no-repeat;
    background-size: cover;
    width: 128px;
    height: 216px;
}

#test3 .divpoint {
    background: url(../images/qipao2.png) no-repeat;
    background-size: cover;
    width: 230px;
    height: 150px;
}

#test .label-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50px;
}

#test3 .label-wrap {
    padding-left: 100px;
    padding-top: 8px;
    box-sizing: border-box;
}

#test .pop-title {
    color: #fff;
    margin-top: 11px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    font-size: 18px;
}


#test .data-li {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
}

#test3 .data-li {
    font-size: 14px;
    margin-top: 6px;
}

#test2 .divpoint {
    background: url(../images/qipao3.png) no-repeat;
    background-size: cover;
    width: 116px;
    height: 120px;
}

#test2 .label-wrap {
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 51px;
}