#play {
    content: url(../images/play.png);
    height: 30px;
    padding: 5px;
}

#pause {
    content: url(../images/pause.png);
    height: 30px;
    padding: 5px;
}

#stop {
    content: url(../images/stop.png);
    height: 30px;
    padding: 5px;
}

.bootstrap-select {
    width: 150px;
}