input[type=text] {
    TEXT-ALIGN: center;
    z-index: 3;
    height: 18px;
    background: none;
    border: none;
    padding: 5px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 2px solid #b8b2b2;
    color: aliceblue;
}