#tempStatis{
    margin: 0px;
    padding: 0px 0px;
    position: absolute;
    left: 0px;
    top: 80px;
    width:600px;
    height:400px;
    background-color: rgba(186, 186, 186, 0.75)
}
#toolbar {
    margin: 1px;
    padding: 0px 0px;
    position: absolute;
    left: 75px;
    top: 0px;
    width:400px;
    height:100px;
    background-color:rgba(38, 38, 38, 0);
    color:#ffffff;
}
#toolbar input[type=range] {
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 150px;
}