input[type=range] {
  -webkit-appearance: none;
  width: 100px;
  height: 2px;
  border-radius: 10px;
  /*这个属性设置使填充进度条时的图形为圆角*/
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -3px;
  height: 10px;
  width: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
}

input[type=number] {
  width: 52px;
  height: 28px;
  background: rgba(51, 51, 51, 1);
  border: 1px solid rgba(74, 74, 74, 1);
  border-radius: 4px;
  margin: 0;
  box-sizing: border-box;
}

.titleBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBox .titl {
  width: 200px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
}

.titleBox .close2 {
  margin-bottom: 10px ;
}

.inputBox {
  margin-bottom: 15px;
  margin-right: -24px;
}

.inputBox .sp-dd {
  display: none;
}

.inputBox .sp-preview {
  height: 8px;
  width: 200px;
  margin-top: 4px;
  margin-left: 3px;
}

.inputBox .sp-replacer {
  height: 20px;
  background-color: rgba(42, 42, 42, 1);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.inputBox #img-container {
  display: inline-block;
  position: relative;
}

.inputBox .lab {
  width: 100px;
  height: 32px;
  line-height: 32px;
}

.inputBox .content {
  width: 220px;
  color: #fff;
}

.inputBox input[type=radio] {
  scale: 1.5;
  margin: -6px 8px 0px 0px;
  accent-color: rgba(52, 153, 229, 1);
}

.inputBox input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputBox .radio-box {
  display: flex;
  justify-content: space-between;
  margin-left: 7px;
  height: 22px;
  padding-top: 7px;
}


input,
textarea,
.uneditable-input {
  width: 180px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 196px;
}

.rangeBox {
  width: 130px;
  margin-left: 0px;
}
