#color-legend {
    margin-top: -1em;
    width: 3em;
    height: 17.5em;
    background: -webkit-linear-gradient(bottom, rgb(139, 139, 149) 1%, rgb(187, 189, 237) 20%, rgb(0, 255, 255) 40%, rgb(255, 255, 0) 60%, rgb(255, 0, 0)) !important
}

.color-legend-label {
    white-space: nowrap;
    padding: 0 0.5em;
    font-size: 1.3em;
    line-height: 1em;
    position: relative;
    margin-left: 3em;
    top: 0;
    margin-top: 1.5em;
}

.color-legend-label:before {
    content: "";
    border: 3px solid #0000;
    border-left-width: 0;
    border-right: 4px solid #fff;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 4px;
    right: 100%;
}

.legend-toolbar {
    font-size: 8px;
    background-color: rgba(42, 42, 42, 1);
    color: rgba(255, 255, 255, 1);
    position: fixed;
    right: 3em;
    bottom: 5em;
    padding: 0 2.5em 1.1em 1em;
}