

input[type=text] {
  width: 175px;
  height: 28px;
  background: rgba(51, 51, 51, 1);
  border: 1px solid rgba(74, 74, 74, 1);
  border-radius: 4px;
  margin: 0;
  box-sizing: border-box;
}

.titleBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleBox .titl {
  width: 200px;
  height: 32px;
  line-height: 32px;
  font-size: 18px;
}

.titleBox .close2 {
  margin-bottom: 10px ;
}

.inputBox {
  margin-bottom: 15px;
}

.inputBox .lab {
  width: 110px;
  height: 32px;
  line-height: 32px;
}

.inputBox input {
  color: #ffffff;margin-top: 3px;
}


.footBtn {
  flex: 1;
  margin: 0 5px;
  width: 80px;
  height: 32px;
  line-height: 32px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: rgba(42, 42, 42, 1);
}

.footBox #analyse{
  background:rgba(52,153,229,1);
}
.footBox #clear{
  border: 1px solid rgba(255, 255, 255, .65);
  color:rgba(255, 255, 255, .65)
}

