select,
input[type="number"] {
    height: 32px;
}

.titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleBox .titl {
    width: 200px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
}

.titleBox .close2 {
    margin-bottom: 10px;
}


.inputBox {
    margin-bottom: 15px;
    display: flex;
    color: white;
}

.inputBox .sp-dd {
    display: none;
}

.inputBox .sp-preview {
    height: 8px;
    width: 200px;
    margin-top: 4px;
    margin-left: 3px;
}

.inputBox .sp-replacer {
    height: 20px;
    background-color: rgba(42, 42, 42, 1);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.inputBox #img-container {
    display: inline-block;
    position: relative;
}

.inputBox .lab {
    width: 110px;
    height: 32px;
    line-height: 32px;
}

.inputBox .content {
    width: 180px;
    color: #fff;
}

.inputBox input[type=radio] {
    scale: 1.5;
    margin: -6px 8px 0px 0px;
    accent-color: rgba(52, 153, 229, 1);
}

.inputBox input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inputBox .radio-box {
    display: flex;
    justify-content: space-between;
    margin-left: 7px;
    height: 22px;
    padding-top: 7px;
}

.inputBox select {
    margin: 0 0 5px 14px;
    border: 1px solid rgba(255, 255, 255, 0.04);
}


input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: 9em;
    z-index: 2;
    padding: 0;
    margin: 0;
    width: 2em;
    height: 1.5em;
}

input[type="checkbox"].toggle+label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}


input[type="checkbox"].toggle+label::before {
    content: "";
    width: 2em;
    height: 1.1em;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 1em;
    margin-right: .25em;
    transition: background-color 200ms ease-in-out;
}

input[type="checkbox"].toggle+label::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    font-size: 0.5em;
    left: 0.2em;
    width: 1.8em;
    height: 1.8em;
    background-color: #FFF;
    border-radius: 1em;
    position: absolute;
    color: #FFF;
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked+label::before {
    background-color: #3499E5;
}

input[type="checkbox"].toggle:checked+label::after {
    content: "";
    transform: translateX(100%);
}

.inputBox .switch {
    position: relative;
    margin-left: 1em;
}

.param-item>label,
.param-item>input {
    margin-right: 0px;
}

#color-legend {
    width: 20px;
    height: 100px;
    background: -webkit-linear-gradient(bottom, rgb(26, 26, 26) 20%, rgb(222, 222, 222) 60%, rgb(255, 255, 255)) !important
}

#color-legend-hb {
    width: 20px;
    height: 100px;
    background: -webkit-linear-gradient(bottom, rgb(0, 0, 255) 10%, rgb(51, 255, 204) 40%, rgb(255, 255, 0) 80%, rgb(255, 51, 0)) !important
}

.color-legend-label {
    white-space: nowrap;
    padding: 0 7px;
    font-size: 12px;
    line-height: 1em;
    position: relative;
    margin-left: 30px;
    margin-top: -2px;
    top: 10px;
}

.color-legend-label:before {
    content: "";
    border: 3px solid #0000;
    border-left-width: 0;
    border-right: 4px solid #fff;
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 4px;
    right: 100%;
}

.legend-toolbar {
    /* background: yellow; */
    background-color: rgba(42, 42, 42, 1);
    color: rgba(255, 255, 255, 1);
    position: fixed;
    right: 15px;
    bottom: 70px;
    padding: 10px;
}

.color-legend-container {
    display: flex;
    flex-direction: column;
}

.color-legend-class {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.box {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}