.ivu-form-item-label {
    color: white!important;
    text-align: left!important;
}
.ivu-form-item {
    margin-bottom: 0;
}
.ivu-input, .ivu-select, .ivu-select-selection {
    height: 30px;
    background: #333;
    color: white;
}