#toolbar {
  position: absolute;
  left: 1%;
  top: 2%;
  border-radius: 4px;
  opacity: 1;
  padding: 0px;
}

.title-box {
  width: 318px;
  margin-left: 20px;
  font-size: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.input-box {
  display: flex;
  color: white;
  padding: 0px 20px;
  margin: 10px 0px;
}

.input-box>.lable {
  width: 110px;
  height: 32px;
  line-height: 32px;
}

.input-box>.content {
  width: 180px;
}

.input-box input {
  border-radius: 4px 4px 4px 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 32px;
}

.input-box input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-box .radio-box {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  height: 22px;
  padding-top: 7px;
}

.input-box-foot {
  width: 208px;
  margin-left: 140px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 24px;
}

.input-box-foot .btn_foot {
  flex: 1;
  margin: 0 5px;
  width: 62px;
  height: 32px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: rgba(42, 42, 42, 1);
}

.input-box .sp-dd {
  display: none;
}

.input-box .sp-preview {
  height: 8px;
  width: 175px;
  margin-top: 4px;
  margin-left: 3px;
}

.input-box .sp-replacer {
  height: 20px;
  background-color: rgba(42, 42, 42, 1);
  border-radius: 4px 4px 4px 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.input-box input[type=radio] {
  scale: 1.5;
  margin: -6px 8px 0px 0px;
  accent-color: rgba(52, 153, 229, 1);
}

.input-box input[type=checkbox] {
  scale: 1.5;
  margin: -6px 8px 0px 0px;
  accent-color: rgba(52, 153, 229, 1);
}

.input-box input[type=number] {
  padding-left: 12px;
}