#shadowRadioBox
{
    display: none;
    position: fixed;
    right: 8px;
    bottom: 8px;
    background-color: #ffffe0;

}
#shadowRadioBox caption
{
    background-color: #ffffe0;
}
#shadowRadioBox td
{
    padding-left: 8px;
    padding-right: 8px;
    height:20px;
}
#shadowRadioBox tr
{
    height:20px;
}