input[type=checkbox] {
    margin: -4px 4px 0 0px;
}	
label {
    display: inline-block;
}		
.param-container {
    border: none;
}	
.snowBox {
    width: 100px;
}
.snowLabel {
    width: 28px;
}
.titleBox {
    margin-bottom: 0px;
}