
/* 图层面板 */
.toolbar-container{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 352px;
  height: fit-content;
  z-index: 100;
  background: rgba(42,42,42,0.9);
}

/* header */
.toolbar-header{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.toolbar-header-title{
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  opacity: 0.8;
  display: inline-block;
}
.toolbar-header-close{
  color: rgba(255, 255, 255, 0.65);
  font-size: 15px;
  margin-right: 10px;
  margin-top: 5px;
}

/* 列表内容 */
.toolbar-content{
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.85);
  padding-bottom: 10px;
}

/* inputbox */
.inputBox {
  display: flex;
  justify-content: space-between;
  padding: 5px 24px;
}
.inputBox .lab {
  width: 110px;
  height: 32px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.85);
}
.inputBox .content {
  width: 178px;
}
/* inputbox 颜色条特有 */
.inputBox .sp-dd {
  display: none;
}
.inputBox .sp-preview {
  height: 8px;
  width: 172px;
  margin-top: 4px;
  margin-left: 3px;
}
.inputBox .sp-replacer {
  height: 20px;
  background-color: rgb(55, 59, 63);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* input数字类型 */
input[type="number"]{
  color: rgba(255,255,255,0.85);
  background-color: rgba(255,255,255,0.04);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

/* footer */
.toolbar-footer{
  margin-left: 277px;
  margin-bottom: 20px;
}