.inputBox {
    margin-bottom: 15px;
}

input[type=checkbox] {
    margin: -4px 4px 0 0px;
}

label {
    display: inline-block;
}

.param-container {
    border: none;
}

.WhiteBox {
    width: 130px;
}

.WhiteLabel {
    width: 60px;
    height: 24px;
}

.titleBox {
    margin-bottom: 0px;
}