.spinner-boot {
    width: 69px;
    float: right;
}
.spinner-boot input {
    text-align: right;
    background-color: #444;
    color: white;
    opacity:0.6;
    padding-right: 50%;
    border-radius: 4px!important;
}
.input-group-btn-vertical {
    position: absolute;
    right: 8px;
    white-space: nowrap;
    width: 10px;
    margin-top: 2px;
    margin-right: 2px;
    top: 4px;
    vertical-align: middle;
    display: table-cell;
    z-index: 999;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    position: relative;
    border-radius: 0;
    border: none!important;
    padding: 0;
    width: 16px;
    height: 12px;
    background-color: #444;
}
.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
    color: white;
    opacity:0.6;
    font-size: 8px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    color: white;
    opacity:0.6;
    font-size: 8px;
    border-bottom-right-radius: 4px;
}
.dzt-title {
    width:98px;
    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(255,255,255,1);
    opacity:0.8;
}
#toolbar {
    margin: 43px 0 0 43px;
    width:224px;
    background:rgba(42,42,42,1);
    opacity:0.9;
    border-radius:4px;
    padding-top: 12px;
}
.dzt-operate {
    margin: 14px 0 11px 0px;
}
.dzt-tip {
    line-height: 32px;
}
.divide {
    height: 1px;
    margin-top: 4px;
    /* border-bottom: 5x solid white; */
    background-color: #3C3C3C;
}